* {
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #201f1f;
}
.nav {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
#welcome {
  position: relative;
  left: 20px;
  font-size: 30px;
}
.shortcuts {
  height: 60px;
  width: 25%;
  position: relative;
  left: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
.shortcuts a {
  text-decoration: none;
}
.container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 30%;
  margin-top: 10px;
  margin-left: 300px;
  background: #555252;
}
.section {
  position: relative;
  height: 350px;
  width: 40%;
  margin-top: 100px;
  margin-left: 100px;
}
.section h1 {
  font-size: 50px;
  font-weight: bold;
}
.section p {
  margin-top: 10px;
  font-size: 20px;
}
.icons {
  margin-top: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.icons i {
  font-size: larger;
}

.footer {
  text-align: center;
  padding: 10px 20px;
  position: relative;
  bottom: 10px;
  width: 100%;
}
